<html>
<head><link href="https://clara.uams.edu/clara-webapp/static/styles/letters.css" media="screen" type="text/css" rel="stylesheet"/></head>
<body>
<div class="email-template">	
<div class="uamslogo" style="width:100px;height:57px;"><img style="width:100px;height:57px;" src="https://clara.uams.edu/clara-webapp/static/images/uams-logo-medium.png"/></div>
	<div class="page">
		<div class="letter-header">
			<h1 class="letter-title">Institutional Review Board Agenda</h1>
			<h2>$agendaDate</h2>
		</div>
		
		<div class="agenda-list">
			<div class="agenda-list-header-row">Old Business - Approval of Minutes<!-- /* $agendaItemCategory */ --></div>
			<div class="agenda-list-row">
				<div class="agenda-col-1">1</div>
				<div class="agenda-col-2">136003<!-- /* $protocolId */ --></div>
				<div class="agenda-col-3">Laura Hutchins<!-- /* $reviewer1 */ --></div>
				<div class="agenda-col-4">Gozar Azhar<!-- /* $reviewer2 */ --></div>
				<div class="clear"></div>
			</div>
			<div class="agenda-list-header-row">New Business - New Submission<!-- /* $agendaItemCategory */ --></div>
			<div class="agenda-list-row">
				<div class="agenda-col-1">2</div>
				<div class="agenda-col-2">136003<!-- /* $protocolId */ --></div>
				<div class="agenda-col-3">Laura Hutchins<!-- /* $reviewer1 */ --></div>
				<div class="agenda-col-4">Gozar Azhar<!-- /* $reviewer2 */ --></div>
				<div class="clear"></div>
			</div>
			<div class="agenda-list-row">
				<div class="agenda-col-1">3</div>
				<div class="agenda-col-2">136003<!-- /* $protocolId */ --></div>
				<div class="agenda-col-3">Laura Hutchins<!-- /* $reviewer1 */ --></div>
				<div class="agenda-col-4">Gozar Azhar<!-- /* $reviewer2 */ --></div>
				<div class="clear"></div>
			</div>
			<div class="agenda-list-header-row">New Business - Tabled<!-- /* $agendaItemCategory */ --></div>
			<div class="agenda-list-row">
				<div class="agenda-col-1">4</div>
				<div class="agenda-col-2">136003<!-- /* $protocolId */ --></div>
				<div class="agenda-col-3">Laura Hutchins<!-- /* $reviewer1 */ --></div>
				<div class="agenda-col-4">Gozar Azhar<!-- /* $reviewer2 */ --></div>
				<div class="clear"></div>
			</div>
			<div class="agenda-list-row">
				<div class="agenda-col-1">5</div>
				<div class="agenda-col-2">136003<!-- /* $protocolId */ --></div>
				<div class="agenda-col-3">Laura Hutchins<!-- /* $reviewer1 */ --></div>
				<div class="agenda-col-4">Gozar Azhar<!-- /* $reviewer2 */ --></div>
				<div class="clear"></div>
			</div>
		</div>
	</div>
	<div class="page">
		<div class="letter-header">
			<h1 class="letter-title">Institutional Review Board Agenda</h1>
			<h2>$agendaDate</h2>
		</div>
		
		<div class="agenda-list">
			<div class="agenda-list-header-row">Old Business - Approval of Minutes<!-- /* $agendaItemCategory */ --></div>
			<div class="agenda-list-row">
				<div class="agenda-col-1">1</div>
				<div class="clear"></div>
			</div>
			<div class="agenda-list-header-row">New Business - New Submission<!-- /* $agendaItemCategory */ --></div>
			<div class="agenda-list-row">
				<div class="agenda-col-1">2</div>
				<div class="agenda-detail">
					<div class="agenda-detail-label"><!-- /* $protocolId */ -->136003</div>
					<div class="agenda-detail-value"><!-- /* $protocolTitle */ -->Test title is here, very long, needs lots of space, a study of test protocols and fun music to listen to at work</div>
					<div class="clear end-detail"></div>
					<div class="agenda-detail-label">Principal Investigator</div>
					<div class="agenda-detail-value"><!-- /* $piName */ -->Richard Frve</div>
					<div class="clear end-detail"></div>
					<div class="agenda-detail-label">Reviewers</div>
					<div class="agenda-detail-value"><ul>
							<li><!-- /* $reviewerName */ -->Laura Hutchins</li>
							<li><!-- /* $reviewerName */ -->Gozar Azhar</li>
						</ul>
					</div>
					<div class="clear end-detail"></div>
					<div class="agenda-detail-label">Risk</div>
					<div class="agenda-detail-value"><!-- /* $risk */ -->Minimal</div>
					<div class="clear end-detail"></div>
					<div class="agenda-detail-label">Drug</div>
					<div class="agenda-detail-value"><!-- /* $hasDrugs (yes/no) */ -->Yes</div>
					<div class="clear end-detail"></div>
					<div class="agenda-detail-label">Device</div>
					<div class="agenda-detail-value"><!-- /* $hasDevices (yes/no) */ -->No</div>
					<div class="clear end-detail"></div>
					<div class="agenda-detail-label">Vulnerable Subjects</div>
					<div class="agenda-detail-value"><!-- /* $vulnerableSubjects*/ --><ul>
							<li><!-- /* $vulnerablePopulationName */ -->Pregnant Women</li>
							<li><!-- /* $reviewerName */ -->Prisoners</li>
						</ul></div>
					<div class="clear end-detail"></div>
					<div class="agenda-detail-label">Comments</div>
					<div class="agenda-detail-value"><!-- /* $comments (not sure where these come from yet) */ -->Comment.</div>
					<div class="clear end-detail"></div>
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</div>
</div>
</body>
</html>