<html>
<head>
	<link href="https://clara.uams.edu/clara-webapp/static/styles/letters.css" media="screen" type="text/css" rel="stylesheet"/>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
<div class="email-template">
<div class="uamslogo" style="width:100px;height:57px;"><img style="width:100px;height:57px;" src="https://clara.uams.edu/clara-webapp/static/images/uams-logo-medium.png"/></div>	
	<br/>
	<strong>Committee Notes/Comments:</strong>
	<br/>
	$emailComment
	{0}
	<br/><br/>
	
	Please see the final Budget and/or Exhibit in the Contracts module. Please notify the Legal Review if you have additional changes to the final Budget and/or Exhibit.<br/><br/>
	
	PI Study Staff /Budget Managers:  Please respond to the Legal Reviewer using regular email.<br/>
	Budget/Coverage Reviewers: Please respond to the Legal Reviewer using forward function in the Contracts module.<br/>
	You will not be able to upload revisions or notes within the Contract Module unless you have been previously approved to do so.<br/><br/>
	
	Failure to take this action may result in unnecessary delay in execution of this contract. Thank you!<br/><br/>
	
	If you have any questions, please contact:<br/>
	<strong>Assigned Legal Reviewer:</strong><br/>
	#if ($assignedLegal.size() == 0)
		No legal reviewer is assigned to this study.
	#end
	<ul>
		#foreach($legalReviewer in ${assignedLegal}) 
		<li>$legalReviewer.person.getFullname()</li>#end
	</ul><br/>
	
	<br/><strong>Assigned Contract Reviewer:</strong><br/>
	#if ($assignedContract.size() == 0)
		No contract reviewer is assigned to this study.
	#end
	<ul>
		#foreach($contractReviewer in ${assignedContract}) 
		<li>$contractReviewer.person.getFullname()</li>#end
	</ul>
	<br/><br/>
	
	Contract Number#: $contractId<br/>
	Description: $contractDescritpion<br/>
	Contract Type: $contractType<br/>
	IRB Number: $protocolId<br/>
	
	<br/><strong>Study Staff List:</strong><br/>
	#if ($studyStaffList.size() == 0)
		No staff is working on this study.
	#end
	<ul>
		#foreach($user in ${studyStaffList}) 
		<li>$user.person.getFullname()</li>#end
	</ul><br/>
	
	<br/><strong>Contract Contact List:</strong><br/>
	#if ($contractContactList.size() == 0)
		No contact is related to this study.
	#end
	<ul>
		#foreach($contact in ${contractContactList}) 
		<li>$contact</li>#end
	</ul><br/>
	
	<a href=$dashboardLink>Click here to access study.</a>
	
</div>
</body>
</html>