<html>
<head><link href="https://clara.uams.edu/clara-webapp/static/styles/letters.css" media="screen" type="text/css" rel="stylesheet"/></head>
<body>
<div class="email-template">	
<div class="uamslogo" style="width:100px;height:57px;"><img style="width:100px;height:57px;" src="https://clara.uams.edu/clara-webapp/static/images/uams-logo-medium.png"/></div>	
	<br/><br/>
	#if ($hudOrNot == 'hud-use')
		<br/><br/><strong>TP Name:</strong>  $treatingPhysicianUser.person.getFullname()<br/>
		<br/><strong>TP Department:</strong> $treatingPhysicianUser.person.department
	#else
		<br/><br/><strong>PI Name:</strong>  $piUser.person.getFullname()<br/>
		<br/><strong>PI Department:</strong> $piUser.person.department
	#end
	
	<br/><br/><strong>Protocol Number:</strong> $protocolId
	<br/><strong>Protocol Title:</strong> $protocolTitle
	
	<br/><br/><strong>CONTRACT NOT REQUIRED</strong>
	
	<br/><br/>Your study will <strong>NOT</strong> require a contract.
	
	<br/><br/>
	<strong>Committee Notes/Comments:</strong>
	<br/>
	$emailComment
	{0}
	
	<br/><br/>If you have any questions, please contact Dori Scoggins <a href="mailto:dwong@uams.edu">dwong@uams.edu</a>. 
	
	<br/><br/>
	$signature

</div>
</body>
</html>