<html>
<body>
<div class="email-template">	
<div class="uamslogo" style="width:100px;height:57px;"><img style="width:100px;height:57px;" src="https://clara.uams.edu/clara-webapp/static/images/uams-logo-medium.png"/></div>
	Budget of the following study has been approved.
	
	<br/><br/><strong>Protocol Number:</strong> $protocolId
	<br/><strong>Protocol Title:</strong> $protocolTitle
	
	<br/><br/><strong>PI Name:</strong>  $piUser.person.getFullname()<br/>
	<br/><strong>PI Department:</strong> $piUser.person.department
	
	<br/><br/>
	#if ($involveChemotheray == "y")
		This study <strong>INVOLVES</strong> the use of chemotherapy.
	#else
		This study <strong>DOES NOT INVOLVE</strong> the use of chemotherapy.
	#end
	
	<br/><br/>
	<a href=$protocolLink>Click here to access study.</a>
	
</div>
</body>
</html>