<html>
<body>
<div class="email-template">
<div class="uamslogo" style="width:100px;height:57px;"><img style="width:100px;height:57px;" src="https://clara.uams.edu/clara-webapp/static/images/uams-logo-medium.png"/></div>	
	
	<br/><br/>$currentDate
	
	<br/><br/>The following HUD Renewal form is pending your signature:
	
	<br/><br/><strong>Treating Physician Name:</strong>  $treatingPhysicianUser.person.getFullName()
	<br/><strong>Treating Physician Department:</strong> $treatingPhysicianUser.person.department
	
	<br/><br/><strong>HUD Number:</strong> $protocolId
	<br/><strong>HUD Title:</strong> $protocolTitle
	
	<br/><br/>
	<a href=$protocolLink>Click here to access study.</a>

</div>
</body>
</html>