<html>
<head>
	<link href="https://clara.uams.edu/clara-webapp/static/styles/letters.css" media="screen" type="text/css" rel="stylesheet"/>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
<div class="email-template">	
<div class="uamslogo" style="width:100px;height:57px;"><img style="width:100px;height:57px;" src="https://clara.uams.edu/clara-webapp/static/images/uams-logo-medium.png"/></div>
	<strong>Institutional Review Board</strong><br/>
	4301 West Markham, #636<br/>
	Little Rock, AR 72205-7199<br/>
	501-686-5667<br/>
	501-686-7265 (fax)<br/>
	<a href="http://http://irb.uams.edu/" target = "_blank">http://irb.uams.edu/</a>
	
	<br/><br/>FWA00001119
	
	<br/><br/>$currentDate
	
	<br/><br/><strong>Treating Physician Name:</strong>  $treatingPhysicianUser.person.getFullname()
	<br/><strong>Treating Physician Department:</strong> $treatingPhysicianUser.person.department
	
	<br/><br/><strong>HUD Number:</strong> $protocolId
	<br/><strong>HUD Title:</strong> $protocolTitle
	<br/><strong>Original Review Date:</strong> $originalReviewDate
	
	<br/><br/>APPROVAL, FULL BOARD

	<br/><br/>The convened Institutional Review Board approved this Humanitarian Use Device (HUD) application on $approvalEndDate. 
	
	<br/><br/>This approval period runs from $approvalDate to $approvalEndDateMinusOneDay.
	
	<br/><br/>Next review date: $approvalEndDateMinusOneDay.

	
	<br/></br>If you have any questions, please contact an IRB administrator at 501-686-5667.<br/>
	
	<a href=$protocolLink>Click here to access study.</a>
	
	<br/><br/>
	<strong>Committee Notes/Comments:</strong>
	<br/>
	#if ($inLetterComments.size() > 0)
		<ul>
		#foreach($comment in ${inLetterComments}) 
		<li>$comment.text</li>#end
		</ul>
	#end
	$emailComment
	{0}
	<br/><br/>
	$signature
</div>
</body>
</html>