<html>
<head><link href="https://clara.uams.edu/clara-webapp/static/styles/letters.css" media="screen" type="text/css" rel="stylesheet"/></head>
<body>
<div class="email-template">	
<div class="uamslogo" style="width:100px;height:57px;"><img style="width:100px;height:57px;" src="https://clara.uams.edu/clara-webapp/static/images/uams-logo-medium.png"/></div>	
	
	$itSecurityUserinfo
	
	
	<br/><br/><strong>Protocol Number:</strong> $protocolId
	<br/><strong>Protocol Title:</strong> $protocolTitle
		
</div>
</body>
</html>