<html>
<body>
<div class="email-template">	
<div class="uamslogo" style="width:100px;height:57px;"><img style="width:100px;height:57px;" src="https://clara.uams.edu/clara-webapp/static/images/uams-logo-medium.png"/></div>
	<strong>Institutional Review Board</strong><br/>
	4301 West Markham, #636<br/>
	Little Rock, AR 72205-7199<br/>
	501-686-5667<br/>
	501-686-7265 (fax)<br/>
	<a href="http://www.uams.edu/irb/irb.asp" target = "_blank">www.uams.edu/irb/irb.asp</a>
	
	<br/><br/>FWA00001119
	
	<br/><br/>$currentDate
	
	#if ($hudOrNot == 'hud-use')
		<br/><br/><strong>TP Name:</strong>  $treatingPhysicianUser.person.getFullname()<br/>
		<br/><strong>TP Department:</strong> $treatingPhysicianUser.person.department
	#else
		<br/><br/><strong>PI Name:</strong>  $piUser.person.getFullname()<br/>
		<br/><strong>PI Department:</strong> $piUser.person.department
	#end
	
	<br/><br/><strong>Protocol Number:</strong> $protocolId
	<br/><strong>Protocol Title:</strong> $protocolTitle
	
	<br/><br/><h3>REVISION REQUESTED, EXPEDITED</h3>

	<br/><br/>The Institutional Review Board is holding your $submitDate modification based on the following information:
	
	<br/><br/><strong>Contingencies:</strong><br/>
	#if ($contengencies.size() == 0)
		No contingencies related to this study.
	#end
	<ul>
	#foreach($comment in ${contengencies}) 
	<li><strong>$comment.commentType.getDescription():</strong> $comment.text#end
	</ul><br/>	 
	
	<br/><br/><strong>Full Board Contingencies:</strong><br/>
	#if ($fullBoardContengencies.size() == 0)
		No full board contingencies related to this study.
	#end
	<ul>
	#foreach($fullBoardComment in ${fullBoardContengencies}) 
	<li><strong>$fullBoardComment.commentType.getDescription():</strong> $fullBoardComment.text#end
	</ul><br/>
	
	<br/><br/>The following documents were received:<br/>
	#if ($protocolFormDocuments.size() == 0)
		No documents related to this study. 
	#end
	<ul>
	
	#foreach($document in ${protocolFormDocuments})
	<li>$document.title (<strong>Type:</strong> $document.categoryDesc) </li> #end
	</ul> 

	
	<br/></br>If you have any questions, please contact an IRB administrator at 501-686-5667.<br/>
	
	<a href=$protocolLink>Click here to access study.</a>
	
	<br/>
	<br/>
	<strong>Committee Notes/Comments:</strong>
	<br/>
	#if ($inLetterComments.size() > 0)
		<ul>
		#foreach($comment in ${inLetterComments}) 
		<li>$comment.text</li>#end
		</ul>
	#end
	$emailComment
	{0}
	
	<br/><br/>
	$signature
</div>
</body>
</html>