<html>
<body>
<div class="email-template">	
<div class="uamslogo" style="width:100px;height:57px;"><img style="width:100px;height:57px;" src="https://clara.uams.edu/clara-webapp/static/images/uams-logo-medium.png"/></div>
	
	<br/><br/>The revision of the following study has been submitted to you for review
	
	#if ($hudOrNot == 'hud-use')
		<br/><br/><strong>TP Name:</strong>  $treatingPhysicianUser.person.getFullname()<br/>
		<br/><strong>TP Department:</strong> $treatingPhysicianUser.person.department
	#else
		<br/><br/><strong>PI Name:</strong>  $piUser.person.getFullname()<br/>
		<br/><strong>PI Department:</strong> $piUser.person.department
	#end
	
	<br/><br/><strong>Protocol Number:</strong> $protocolId
	<br/><strong>Protocol Title:</strong> $protocolTitle
	
	<a href=$queueLink>Click here to queue.</a>
	
	<br/><br/>
	$signature
	
</div>
</body>
</html>