<html>
<head>
	<link href="https://clara.uams.edu/clara-webapp/static/styles/letters.css" media="screen" type="text/css" rel="stylesheet"/>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
<div class="email-template">
<div class="uamslogo" style="width:100px;height:57px;"><img style="width:100px;height:57px;" src="https://clara.uams.edu/clara-webapp/static/images/uams-logo-medium.png"/></div>	
	<strong>Institutional Review Board</strong><br/>
	4301 West Markham, #636<br/>
	Little Rock, AR 72205-7199<br/>
	501-686-5667<br/>
	501-686-7265 (fax)<br/>
	<a href="http://http://irb.uams.edu/" target = "_blank">http://irb.uams.edu/</a>
	
	<br/><br/>FWA00001119
	
	<br/><br/>$currentDate
	
	<br/><br/>The IRB Office has completed the prereview of the $agendaDate meeting. Please ensure that the decisions from the meeting are accurately reflected in the letters before giving your approval. Click ‘Return to Office’ when you have finished approving the letters.   
	
	<br/></br>If you have any questions, please contact an IRB administrator at 501-686-5667.<br/>
	
	<a href=$agendaLink>Click here to access the agenda.</a>
	
	<br/><br/>
	$signature

</div>
</body>
</html>