<html>
<head>
	<link href="https://clara.uams.edu/clara-webapp/static/styles/letters.css" media="screen" type="text/css" rel="stylesheet"/>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
<div class="email-template">	
<div class="uamslogo" style="width:100px;height:57px;"><img style="width:100px;height:57px;" src="https://clara.uams.edu/clara-webapp/static/images/uams-logo-medium.png"/></div>
	<strong>Institutional Review Board</strong><br/>
	4301 West Markham, #636<br/>
	Little Rock, AR 72205-7199<br/>
	501-686-5667<br/>
	501-686-7265 (fax)<br/>
	<a href="http://http://irb.uams.edu/" target = "_blank">http://irb.uams.edu/</a>
	
	<br/><br/>FWA00001119
	
	<br/><br/>$currentDate
	
	#if ($hudOrNot == 'hud-use')
		<br/><br/><strong>TP Name:</strong>  $treatingPhysicianUser.person.getFullname()<br/>
		<br/><strong>TP Department:</strong> $treatingPhysicianUser.person.department
	#else
		<br/><br/><strong>PI Name:</strong>  $piUser.person.getFullname()<br/>
		<br/><strong>PI Department:</strong> $piUser.person.department
	#end
	
	<br/><br/><strong>Protocol Number:</strong> $protocolId
	<br/><strong>Protocol Title:</strong> $protocolTitle

	<br/><br/>The study is not applicable to Expedited Review.
	
	<br/></br>If you have any questions, please contact an IRB administrator at 501-686-5667.<br/>
	
	<a href=$protocolLink>Click here to access study.</a>
	
	<br/>
	<br/>
	<strong>Committee Notes/Comments:</strong>
	<br/>
	#if ($inLetterComments.size() > 0)
		<ul>
		#foreach($comment in ${inLetterComments}) 
		<li>$comment.text</li>#end
		</ul>
	#end
	$emailComment
	{0}
</div>
</body>
</html>