<html>
<head><link href="https://clara.uams.edu/clara-webapp/static/styles/letters.css" media="screen" type="text/css" rel="stylesheet"/></head>
<body>
<div class="email-template">
<div class="uamslogo" style="width:100px;height:57px;"><img style="width:100px;height:57px;" src="https://clara.uams.edu/clara-webapp/static/images/uams-logo-medium.png"/></div>	
	
	<br/><br/>$currentDate
	
	#if ($hudOrNot == 'hud-use')
		<br/><br/><strong>Treating Physician Name:</strong>  $treatingPhysicianUser.person.getFullname()<br/>
		<br/><strong>Treating Physician Department:</strong> $treatingPhysicianUser.person.department
		
		<br/><br/><strong>HUD Number:</strong> $protocolId
		<br/><strong>HUD Title:</strong> $protocolTitle
		
	#else
		<br/><br/><strong>PI Name:</strong>  $piUser.person.getFullname()<br/>
		<br/><strong>PI Department:</strong> $piUser.person.department
		
		<br/><br/><strong>Protocol Number:</strong> $protocolId
		<br/><strong>Protocol Title:</strong> $protocolTitle
	#end
	
	<br/><br/>REJECTED
	
	<br/><br/>The study has rejected by $committeeDesc.
	
	<br/><br/>
	<strong>Committee Notes/Comments:</strong>
	<br/>
	#if ($inLetterComments.size() > 0)
		<ul>
		#foreach($comment in ${inLetterComments}) 
		<li>$comment.text <strong>made by</strong> $comment.committee.description</li>#end
		</ul>
	#end
	$emailComment
	{0}
	
	<br/><br/>
	<a href=$protocolLink>Click here to access study.</a>

</div>
</body>
</html>