<html>
<head><link href="https://clara.uams.edu/clara-webapp/static/styles/letters.css" media="screen" type="text/css" rel="stylesheet"/></head>
<body>
<div class="email-template">
<div class="uamslogo" style="width:100px;height:57px;"><img style="width:100px;height:57px;" src="https://clara.uams.edu/clara-webapp/static/images/uams-logo-medium.png"/></div>
	<br/><br/>Pre-review revisions have been requested for the following clinical research study in CLARA:
	
	<br/><br/><strong>IRB Number:</strong> $protocolId
	<br/><strong>Study Title:</strong> $protocolTitle
	
	#if ($protocolType == "investigator-initiated")
		#set($protocolType = "Investigator Initiated")
	#elseif ($protocolType == "cooperative-group")
		#set($protocolType = "Cooperative Group")
	#elseif ($protocolType == "industry-sponsored")
		#set($protocolType = "Industry Sponsored")
	#else
		#set($protocolType = "N/A")
	#end

	<br/><strong>Study Type</strong>: $protocolType
	
	#if ($hudOrNot == 'hud-use')
		<br/><strong>TP Name:</strong>  $treatingPhysicianUser.person.getFullname() e-mail:<a href="mailto:$treatingPhysicianUser.person.getEmail()">$treatingPhysicianUser.person.getEmail()</a> phone:$treatingPhysicianUser.person.getWorkphone()
	#else
		<br/><strong>PI Name:</strong>  $piUser.person.getFullname() e-mail:<a href="mailto:$piUser.person.getEmail()">$piUser.person.getEmail()</a> phone:$piUser.person.getWorkphone()
	#end
	
	<br/><br/><strong>Study Contact:</strong> 
	<br/>
	#if ($studyCoordinatorLst.size() == 0)
		N/A. 
	#end
	
	<ul>
	#foreach($studyCoordinator in ${studyCoordinatorLst})
	<li>$studyCoordinator.person.getFullname() </li> #end
	</ul> 
	
	<br/><br/><a href=$queueLink>Click here to the queue.</a>
	
	<br/><br/>
	<strong>Committee Notes/Comments:</strong>
	<br/>
	#if ($inLetterComments.size() > 0)
		<ul>
		#foreach($comment in ${inLetterComments}) 
		<li>$comment.text <strong>made by</strong> $comment.committee.description</li>#end
		</ul>
	#end
	$emailComment
	{0}
</div>
</body>
</html>