<html>
<head><link href="https://clara.uams.edu/clara-webapp/static/styles/letters.css" media="screen" type="text/css" rel="stylesheet"/></head>
<body>
<div class="email-template">
<div class="uamslogo" style="width:100px;height:57px;"><img style="width:100px;height:57px;" src="https://clara.uams.edu/clara-webapp/static/images/uams-logo-medium.png"/></div>	

	<br/><br/>$currentDate
	
	#if ($hudOrNot == 'hud-use')
		<br/><br/><strong>Treating Physician Name:</strong>  $treatingPhysicianUser.person.getFullname()<br/>
		<br/><strong>Treating Physician Department:</strong> $treatingPhysicianUser.person.department
		
		<br/><br/><strong>HUD Number:</strong> $protocolId
		<br/><strong>HUD Title:</strong> $protocolTitle
		
		<br/><br/>HUD APPROVAL, FULL BOARD
	
		<br/><br/>The convened Institutional Review Board approved this Humanitarian Use Device (HUD) application on $approvalDate. 
	#else
		<br/><br/><strong>PI Name:</strong>  $piUser.person.getFullname()<br/>
		<br/><strong>PI Department:</strong> $piUser.person.department
		
		<br/><br/><strong>Protocol Number:</strong> $protocolId
		<br/><strong>Protocol Title:</strong> $protocolTitle
		<br/><strong>Original Review Date:</strong> $originalReviewDate
		
		<br/><br/>NEW SUBMISSION APPROVAL, FULL BOARD
	
		<br/><br/>The convened Institutional Review Board approved this study on $agendaDate. 
	#end
	
	<br/><br/>The following documents were received:<br/>
	#if ($protocolFormDocuments.size() == 0)
		No documents related to this study. 
	#end
	<ul>
	
	#foreach($document in ${protocolFormDocuments})
	<li>$document.title (<strong>Type:</strong> $document.categoryDesc) </li> #end
	</ul>
	
	<a href=$protocolLink>Click here to access study.</a>
</div>
</body>
</html>