<html>
<body>
<div class="email-template">
<div class="uamslogo" style="width:100px;height:57px;"><img style="width:100px;height:57px;" src="https://clara.uams.edu/clara-webapp/static/images/uams-logo-medium.png"/></div>	
	<strong>Institutional Review Board</strong><br/>
	4301 West Markham, #636<br/>
	Little Rock, AR 72205-7199<br/>
	501-686-5667<br/>
	501-686-7265 (fax)<br/>
	<a href="http://www.uams.edu/irb/irb.asp" target = "_blank">www.uams.edu/irb/irb.asp</a>
	
	<br/><br/>FWA00001119
	
	<br/><br/>$currentDate
	
	#if ($hudOrNot == 'hud-use')
		<br/><br/><strong>TP Name:</strong>  $treatingPhysicianUser.person.getFullname()<br/>
		<br/><strong>TP Department:</strong> $treatingPhysicianUser.person.department
	#else
		<br/><br/><strong>PI Name:</strong>  $piUser.person.getFullname()<br/>
		<br/><strong>PI Department:</strong> $piUser.person.department
	#end
	
	<br/><br/><strong>Protocol Number:</strong> $protocolId
	<br/><strong>Protocol Title:</strong> $protocolTitle
	
	<br/><br/>NEW SUBMISSION EXEMPT

	<br/><br/>The Institutional Review Board classified this study as Exempt, category $exemptCategory, on $currentDate, based on Title 45 CFR 46.101.
	
	<br/><br/>
	#if ($hipaaWaiver == "yes")
		The IRB granted a waiver of HIPAA authorization for the PHI described in the submission as follows: 
		<br/>
		$phiDesc
		<br/><br/>
		The IRB determined that the research cannot practicably be conducted without access to or use of this PHI, and cannot practicably be carried out without the waiver.
		<br/><br/>
		The IRB determined that the research uses the following methods to ensure minimal risk to privacy of subjects: 
		<ul>
			<li>A plan to protect the identifiers from improper use or disclosure.</li>
			<li>A plan to destroy the identifiers at the earliest opportunity consistent with the conduct of research, unless there is a health or research justification for retaining the identifiers or retention is required by law.</li>
			<li>An assurance that the PHI will not be re-used or disclosed to any other person or entity, except as required by law, for authorized oversight of the research project, or for other research as permitted by the HIPAA regulations.</li>
		</ul>
		<br/>
		Reminder: All other HIPAA requirements, including Minimum Necessary Rule, still apply.
	#elseif ($hipaaWaiver == "no")
		The IRB did not grant a waiver of HIPAA authorization.
	#end
	
	<br/><br/>
	<strong>Committee Notes/Comments:</strong>
	<br/>
	#if ($inLetterComments.size() > 0)
		<ul>
		#foreach($comment in ${inLetterComments}) 
		<li>$comment.text</li>#end
		</ul>
	#end
	$emailComment
	{0}
	
	<br/><br/>The following documents were received:<br/>
	#if ($protocolFormDocuments.size() == 0)
		No documents related to this study. 
	#end
	<ul>
	
	#foreach($document in ${protocolFormDocuments})
	<li>$document.title </li> #end
	</ul>
	
	<br/><br/>Please submit an update on this study by $threeYearsFromCurrentDate. 

	<br/><br/>Please keep the IRB advised of any changes that may require the study to be re-classified as Expedited or Full Board. 
	
	<br/></br>If you have any questions, please contact an IRB administrator at 501-686-5667.<br/><br/>
	
	<a href=$protocolLink>Click here to access study.</a>
	
	<br/><br/>
	$signature
</div>
</body>
</html>