<html>
<head><link href="https://clara.uams.edu/clara-webapp/static/styles/letters.css" media="screen" type="text/css" rel="stylesheet"/></head>
<body>
<div class="email-template">	
<div class="uamslogo" style="width:100px;height:57px;"><img style="width:100px;height:57px;" src="https://clara.uams.edu/clara-webapp/static/images/uams-logo-medium.png"/></div>
	
	<br/><br/>$currentDate
	
	#if ($hudOrNot == 'hud-use')
		<br/><br/><strong>TP Name:</strong>  $treatingPhysicianUser.person.getFullname()<br/>
		<br/><strong>TP Department:</strong> $treatingPhysicianUser.person.department
	#else
		<br/><br/><strong>PI Name:</strong>  $piUser.person.getFullname()<br/>
		<br/><strong>PI Department:</strong> $piUser.person.department
	#end
	
	<br/><br/><strong>Protocol Number:</strong> $protocolId
	<br/><strong>Protocol Title:</strong> $protocolTitle
	
	<br/><br/>APPROVED

	<br/><br/>The Pharmacy Review has approved the study. 
	
	<a href=$protocolLink>Click here to access study.</a>
	
	<br/><br/>
	<strong>Committee Notes/Comments:</strong>
	<br/>
	#if ($inLetterComments.size() > 0)
		<ul>
		#foreach($comment in ${inLetterComments}) 
		<li>$comment.text <strong>made by</strong> $comment.committee.description</li>#end
		</ul>
	#end
	$emailComment
	{0}
</div>
</body>
</html>