<html>
<head>
	<link href="https://clara.uams.edu/clara-webapp/static/styles/letters.css" media="screen" type="text/css" rel="stylesheet"/>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
<div class="email-template">	
<div class="uamslogo" style="width:100px;height:57px;"><img style="width:100px;height:57px;" src="https://clara.uams.edu/clara-webapp/static/images/uams-logo-medium.png"/></div>
	<strong>Institutional Review Board</strong><br/>
	4301 West Markham, #636<br/>
	Little Rock, AR 72205-7199<br/>
	501-686-5667<br/>
	501-686-7265 (fax)<br/>
	<a href="http://http://irb.uams.edu/" target = "_blank">http://irb.uams.edu/</a>
	
	<br/><br/>FWA00001119
	
	<br/><br/>$currentDate
	
	<br/><br/><strong>PI Name:</strong>  $piUser.person.getFullname()
	<br/><strong>PI Department:</strong> $piUser.person.department
	
	<br/><br/><strong>Protocol Number:</strong> $protocolId
	<br/><strong>Protocol Title:</strong> $protocolTitle
	<br/><strong>Original Review Date:</strong> $originalReviewDate
	
	<br/><br/>RECEIPT OF AUDIT REPORT

	<br/><br/>The Institutional Review Board received an audit report from the UAMS Office of Research Compliance or ACH/ACHRI Corporate Compliance on the study listed above.    

	<br/><br/>Please respond to this audit and submit it to the UAMS IRB by $twoWeeksFromCurrentDate.
	
	<br/><br/>
	<strong>Committee Notes/Comments:</strong>
	<br/>
	$emailComment
	{0}
	
	<br/><br/>If you have any questions, please contact an IRB administrator at 501-686-5667.<br/>
	
	<a href=$protocolLink>Click here to access study.</a>
</div>
</body>
</html>