<html>
<head><link href="https://clara.uams.edu/clara-webapp/static/styles/letters.css" media="screen" type="text/css" rel="stylesheet"/></head>
<body>
<div class="email-template">
<div class="uamslogo" style="width:100px;height:57px;"><img style="width:100px;height:57px;" src="https://clara.uams.edu/clara-webapp/static/images/uams-logo-medium.png"/></div>
	<br/><br/>The following Clara Report has been generated in CLARA.
	
	<br/><br/><strong>Report Type:</strong> $reportType
	<br/><strong>Report Generated Time:</strong> $reportGeneratedTime
	
	
	<br/><br/><a href=$reportlink>Click here to view the report.</a>
	
</div>
</body>
</html>