<html>
<HEAD>
    <STYLE>
		tr td { border: 1px solid black; }
		tr td { border: 1px solid black; }
	</STYLE>
 </HEAD>
<body>
<div class="email-template">	
<div class="uamslogo" style="width:100px;height:57px;"><img style="width:100px;height:57px;" src="https://clara.uams.edu/clara-webapp/static/images/uams-logo-medium.png"/></div>
	<br/>
	The procedure listed below was not found in a CLARA search for study IRB $protocolId.<br/>
	
	<br/><strong>REQUESTOR:</strong>  $currentUser.person.getFullname()
	<br/><strong>CONTACT:</strong> $currentUser.person.email  $currentUser.person.workphone<br/>
	
	<br/>
	For a new CPT code, provide the new code and fee information to the IT CLARA System Administrator <jbian@uams.edu> with the reference code. <br/>
	
	<br/>If the CPT code is currently in the database, please contact the requestor to give them the correct code.  <br/>
	
	<table align="left" style="border: 1px solid black">
	        <tr>
		    	<td colspan="3" align="center"><strong>CPT Code Request</strong></td>
			<tr>
		    
		    <tr style="border: 1px solid black">
		      <td align="center" width="20%"><strong>CPT Code</strong></td>
		      <td align="left"><strong>Description</strong></td>
		    </tr>
		    
		    <tr>
		    	<td align="center">$cpt</td>
		    	<td>$description</td>
		    </tr>
		    
		    <tr>
				<td align="right"><strong>Note:</strong></td>
				<td colspan="2">$note</td>
		    </tr>
	</table>
	
	
	{0}
</div>
</body>
</html>