<html>
<head>
	<link href="https://clara.uams.edu/clara-webapp/static/styles/letters.css" media="screen" type="text/css" rel="stylesheet"/>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
<div class="email-template revision-requested-template">	
<div class="uamslogo" style="width:100px;height:57px;"><img style="width:100px;height:57px;" src="https://clara.uams.edu/clara-webapp/static/images/uams-logo-medium.png"/></div>
	The following Research Study has been submitted for your review. Please click the link below to access the study in CLARA.<br/><br/>
	
	Research Study Number IRB#: $protocolId<br/>

	Title: $protocolTitle<br/>
	
	PI:  $piUser.person.getFullname()<br/>
	
	#if ($protocolType == "investigator-initiated")
		#set($protocolType = "Investigator Initiated")
	#elseif ($protocolType == "cooperative-group")
		#set($protocolType = "Cooperative Group")
	#elseif ($protocolType == "industry-sponsored")
		#set($protocolType = "Industry Sponsored")
	#end

	Study Type: $protocolType<br/><br/>
	
	<a href=$protocolLink target = "_blank">Click here to access the study.</a><br/><br/>
	
	{0}
</div>
</body>
</html>