<html>
<body>
<div class="email-template revision-requested-template">	
	The following Research Study has been entered into CLARA, and it is pending your signature since you are listed as the PI. Please click the link below to access the study in CLARA.<br/><br/>
	
	Research Study Number IRB#: $protocolId<br/>

	Title: $protocolTitle<br/>
	
	PI:  $piUser.person.getFullname()<br/>
	
	#if ($protocolType == "investigator-initiated")
		#set($protocolType = "Investigator Initiated")
	#elseif ($protocolType == "cooperative-group")
		#set($protocolType = "Cooperative Group")
	#elseif ($protocolType == "industry-sponsored")
		#set($protocolType = "Industry Sponsored")
	#end

	Study Type: $protocolType<br/><br/>
	
	<a href=$protocolLink target = "_blank">Click here to access the study.</a><br/><br/>
	
	{0}
</div>
</body>
</html>