<?xml version="1.0" encoding="UTF-8"?>
<configuration status="warn" name="ClaraWebapp" packages="edu.uams.clara">

	<appenders>
		<Console name="STDOUT" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{ISO8601} [%t] %p %c{1.} %m%n"/>
		</Console>
		<!-- 
		<RollingFile name="RollingFile" fileName="/var/log/nginx/clara-webapp.log"
			filePattern="/var/log/nginx/$${date:yyyy-MM}/clara-webapp-%d{MM-dd-yyyy}-%i.log.gz">
			<PatternLayout pattern="%d{ISO8601} [%t] %p %c{1.} %m%n" />
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="50 MB" />
			</Policies>
		</RollingFile>
		-->
		<!-- <SMTP name="Mail" suppressExceptions="true" subject="Error caught on server."
			to="jbian@uams.edu" from="errorlog+noreply@clara.uams.edu" smtpHost="webmail.uams.edu"
			smtpPort="25" bufferSize="50">
			<PatternLayout pattern="%d{ISO8601} [%t] %p %c{1.} %m%n" />
			<MarkerFilter marker="EMAIL" onMatch="ACCEPT" onMismatch="DENY"/>
		</SMTP> -->

	</appenders>

	<loggers>

		<logger name="com.mchange.v2.c3p0" level="debug" />
		<logger name="org.hibernate" level="warn" />
		<logger name="org.hibernate.SQL" level="warn" />
		<logger name="org.springframework.cache" level="warn" />
		<logger name="net.sf.ehcache" level="warn" />
		<logger name="org.hibernate.cache" level="error" />	
		<logger name="org.springframework" level="error" />
		
		<logger name="edu.uams.clara" level="debug" />
		
		<!-- Root Logger -->
		<root level="warn">
			<appender-ref ref="STDOUT" />
		</root>

	</loggers>
</configuration>
